* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    place-content: center;
}

body {
    font-family: sans-serif;
    background-color: rgb(174, 173, 173);
}

main {
    display: grid;
    place-content: center;
}

.track_card {
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 400px;
        height: 400px;
        border-radius: 50px;
        border: 2px solid black;
        object-fit: cover;
    }

    h1 {
        margin-top: 20px;
        font-size: 25px;
    }

    .track_buttons {
        margin-top: 30px;
        display: flex;
        gap: 30px;

        button {
            cursor: pointer;
            padding: 12px 45px;
            border: none;
            background-color: black;
            border-radius: 10px;
            transition: all 0.5s;

            i {
                font-size: 28px;
                color: white;
                transition: all 0.5s;
            }
        }

        button:hover {
            background-color: #fff;

            i {
                color: black;
            }
        }
    }
}

.change {
    margin-top: 20px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;

    div {
        display: flex;
        gap: 18px;
    }

    span {
        font-size: 15px;
        color: blue;
    }

    #input_range {
        display: inline-block;
        width: 200px;
    }
}